{
  "@context": "https://link.to.channel.search.context.json",
  "id": "https://__CURRENT_ENVIRONMENT__.nva.unit.no/channel/journal?query=__QUERY_INPUT__&year=__YEAR_INPUT__page=1&results=10",
  "size": 1,
  "searchString": "query=__QUERY_INPUT__&year=__YEAR_INPUT__page=1&results=10",
  "processingTime": __PROCESSING_TIME__,
  "firstRecord": 1,
  "nextResults": null,
  "hits": [
    {
      "id": "https://__CURRENT_ENVIRONMENT__.nva.unit.no/channel/journal/446885/__YEAR_INPUT__",
      "name": "Sensors",
      "identifier": "446885",
      "eIssn": "1424-8220",
      "issn": null,
      "language": "http://www.lexvo.org/page/iso639-3/eng",
      "webpage": "http://www.mdpi.com/journal/sensors",
      "publisher": "https://__CURRENT_ENVIRONMENT__.nva.unit.no/channel/publisher/26778",
      "npiDomain": "https://link.to/npi#1046",
      "active": true,
      "scientificValue": "LEVEL_1"
    }
  ]
}